body {
  background: #ffffff;
}

#l-registration_form {
  background: #efefef;
}
#l-menu {
  background: #395582;
}
#l-alert {
  color: #0d770d;
  background-color: white;
}

li a {
  color: white;
  font-size: 17px;
}
.form_wrap .input_wrap label,
.country {
  color: #000;
}
.country {
  background: #fff;
}
.form_wrap input[type="text"],
.form_wrap input[type="tel"] {
  color: #3b3b41;
  font-size: 16px;
}

.form_wrap ul {
  color: #ffffff;
  background: #fff;
}
.form_wrap input[type="text"]:focus {
  border-color: #395582;
}
.form_wrap ul .radio_wrap span {
  color: #545871;
}
.form_wrap .submit_btn {
  background: #395582;
  color: #fff;
}

.form_wrap .submit_btn:hover {
  background: #4065a0;
}
.heading {
  color: #4056a0;
}
.text-line {
  color: #717171;
}
.radio-item {
  background: #fff;
}
.radio-item input[type="radio"]:checked + label:after {
  background: #4056a0;
}
.info {
  color: #4056a0;
}
.button-filled {
  color: #4056a0;
}
.btn2 {
  background-color: #395582;
  color: white;
  border: 2px solid #4056a0;
}

.btn2:hover {
  background-color: white;
  color: black;
}
.radio-item label {
  color: #666;
}
.tick {
  color: white;
  background: green;
}
