.l-container {
  padding: 0px 24px 20px 24px;
  border-radius: 0px 0px 10px 10px;
}
.last-link {
  padding-left: 100px;
}
li,
a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.last-link {
  list-style: none;
  font-size: 14px;
  padding-top: 4px;
}

.last-link,
.navbar-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-arrow {
  font-weight: 600;
  margin-left: 10px;
}

#l-alert {
  padding: 14px;
  border-radius: 5px;
  margin: 25px 0px 0px 0px;
  text-align: left;
  align-items: center;
}

.tick {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 0px 5px 0px 5px;
  margin-right: 10px;
}
.alert-text-radio {
  font-size: 14px;
  margin: -22px 0px 0px 24px;
}
/* Style the buttons */
.navone {
  color: #8098bf;
  cursor: pointer;
}

.navtwo {
  color: #8098bf;
  cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.active,
.navone:hover {
  color: white;
}

.activated,
.navtwo:hover {
  color: white;
}
