:root {
  --primary: #efefef;
  --secondary: #395582;
  --gray: #9597a6;
  --white: #fff;
  --green: #0d770d;
  --lite-gray: #7a8596;
  --blue: #4056a0;
  --black: #000;
  --input-text: #3b3b41;
  --radio-btn-color: #545871;
  --radio-btn-label-color: #b9b9b9;
}

header {
  background-color: var(--secondary);
}
.l-container {
  background-color: var(--primary);
}
li,
a {
  color: var(--white);
}

.l-form_wrap .input_wrap label,
.country-code {
  color: var(--black);
}

.l-form_wrap input[type="text"],
.country-code input[type="tel"] {
  color: var(--input-text);
  border: 2px solid var(--gray);
}

.l-form_wrap ul {
  color: var(--white);
  background: var(--white);
}

.l-form_wrap ul .radio_wrap span {
  color: var(--radio-btn-color);
}
.l-form_wrap .submit_btn {
  background: var(--secondary);
  color: var(--white);
}

.heading {
  color: var(--blue);
}

.radio-item {
  background: var(--white);
  border: 2px solid var(--gray);
}

.radio-item label:before {
  border: 2px solid var(--radio-btn-label-color);
}
.info {
  color: var(--blue);
}
.button-filled {
  color: var(--blue);
}
.btn2 {
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid var(--blue);
}

.radio-item label {
  color: var(--lite-gray);
}
.tick {
  border: 1px solid var(--green);
  color: var(--white);
  background: var(--green);
}

.nav-arrow {
  color: var(--white);
}
.l-article {
  color: var(--lite-gray);
}
#l-alert {
  color: var(--green);
  background-color: var(--white);
  border: 2px solid var(--green);
}
